@model Project


<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            Title: @Model.Title
        </h4>
        <p class="lead">Publisher: @Model.Publisher</p>
        <p><span role="button" tabindex="0">Author First Name: @Model.AuthorFirstName</span></p>
        <p>Author Middle Name: @Model.AuthorMiddleName</p>
        <p>Author Last Name: @Model.AuthorLastName</p>
        <p>ISBN: @Model.ISBN</p>
        <p>Classification: @Model.Classification</p>
        <p>Category: @Model.Category</p>
        <p>Price: @Model.Price</p>
        <p>Number of Pages: @Model.PageCount</p>
    </div>
</div>