@{
    ViewBag.Title = "View Books";
}

<!--Brings in the project list view model for this specific view-->
@model ProjectListViewModel

<header>
    <h4>Here are Professor Hilton's Favorite Books:</h4>
</header> 


<div>
    <table class="table">
        <thead class="bg-primary text-white text-center">
            <tr>

                <th>Title</th>
                <th>Author First Name</th>
                <th>Author Middle Name</th>
                <th>Author Last Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th>Number of Pages</th>
            </tr>
            
        </thead>

        <tbody>
             
            <!--Iterates through the list of Projects to populate the table-->
            @foreach (var x in Model.Projects) //model.projects tells the program 
            {
            <tr>
                <td>@x.Title</td>
                <td>@x.AuthorFirstName</td>
                <td>@x.AuthorMiddleName</td>
                <td>@x.AuthorLastName</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Classification</td>
                <td>@x.Category</td>
                <td>@x.Price</td>
                <td>@x.PageCount</td>

            </tr>
            }
            </tbody>
    </table>


</div>
<!--Tells the div to go pass the PagingInfo template to the page-model-->
<div page-model="@Model.PagingInfo" page-action="Index" class="text-center"></div>

